.slider {
    margin-top: 1rem;
}

::ng-deep mat-slider {
    width: inherit;
}
/* 
::ng-deep data-grid mat-form-field {
    height: 30px !important;
} */

.customer {
    display: flex;
    align-items: center;
}

.customer mat-form-field {
    width: 100%;
}